footer {
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

footer h3 {
    margin-top: 40px;
    font-size: 2.5rem;
}

footer .presentation {
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 50px;
}

.means-of-contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.means-of-contact-container div {
    width: 90%;
    padding: 4%;
    background-color: var(--main-color-darker);
    border-radius: 15px;
}

.means-of-contact-container div h4 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.means-of-contact-container div p {
    padding-bottom: 8px;
}


.mail-card {
    position: relative;
    overflow: hidden;
}

.email-overlay {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.65);
    backdrop-filter: blur(3px);

    opacity: 0;
    transition: opacity 0.35s ease;
}

.email-overlay a {
    padding: 12px 22px;
    border-radius: 30px;
    background-color: #B36B37;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    gap: 8px;

    transform: translateY(10px);
    transition: all 0.3s ease;
}

.social-media-container {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

.social-media-container figure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    height: 37px;
    width: 37px;
    border-radius: 80px;
    background-color: var(--main-color-darker);    
    transition: all 0.4s ease;
    z-index: 1;
}

figure.footer-muste-icon {
    background-image: url("/assets/logo-muste-white.png");
    background-size: cover;
}

.copyright-text {
    margin-bottom: 20px;
}



/*When the width of the screen is greater than or equal to 1024px (desktop size)*/
@media (min-width: 1024px) {

    footer h3 {
        font-size: 3rem;
    }

    footer .presentation {
        font-size: 1.5rem;
    }

    .means-of-contact-container {
        flex-direction: row;
        padding: 3%;
    }

    .mail-card:hover .email-overlay {
        opacity: 1;
    }

    .mail-card:hover .email-overlay a {
        transform: translateY(0);
    }

    .email-overlay a svg {
        transition: transform 0.25s ease;
    }

    .email-overlay a:hover svg {
        transform: translateX(6px);
        rotate: -20deg;
    }

    .social-media-container {
        align-items: center;
    }

    .social-media-container figure {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .social-media-container figure::before {
        content: '';
        position: absolute;
        bottom: -100%; 
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var( --orange-color);
        transition: bottom 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        z-index: -1; 
    }

    .social-media-container figure svg {
        position: relative;
        transition: all 0.4s ease;
        z-index: 2;
        pointer-events: none;
    }


    .social-media-container figure:hover {
        transform: translateY(-5px); 
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .social-media-container figure:hover::before {
        bottom: 0; 
    }

    .social-media-container figure:hover svg {
        transform: rotate(360deg) scale(1.1); 
        fill: #fff; 
    }

    .social-media-container figure:hover {
        scale: 1.1;
    }
}

/*When the width of the screen is greater than or equal to 1440px (desktop size)*/
@media (min-width: 1440px) {

    footer h3 {
        font-size: 4rem;
    }

    footer .presentation {
        font-size: 1.8rem;
    }

    .means-of-contact-container div h4 {
        font-size: 1.8rem;
    }

    .social-media-container {
        gap: 60px;
        margin: 50px 0;
    }

    .social-media-container figure {
        height: 55px;
        width: 55px;
    }

    .copyright-text {
        font-size: 1.3rem;
    }
}