
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

.reveal-container {
    opacity: 0;
    transform: translateY(25px);
    transition: all 1s ease, transform 1s ease;
}

.reveal-container.visible {
    opacity: 1;
    transform: translateY(0);
}


@media (min-width: 768px) {
    
    .product-section-card:nth-of-type(1) {
        transition-delay: 0.1s;
    }

    .product-section-card:nth-of-type(2) {
    transition-delay: 0.3s;
    }

    .product-section-card:nth-of-type(3) {
        transition-delay: 0.5s;
    }
}


/*When the width of the screen is greater than or equal to 1024px (desktop size)*/
@media (min-width: 1024px) {

    .about-section-card:nth-child(1) {
        transition-delay: 0.1s;
    }

    .about-section-card:nth-child(2) {
        transition-delay: 0.3s;
    }

    .about-section-card:nth-child(3) {
        transition-delay: 0.5s;
    }

    .plan-card:nth-child(1) {
        transition-delay: 0.1s;
    }

    .plan-card:nth-child(2) {
        transition-delay: 0.2s;
    }

    .plan-card:nth-child(3) {
        transition-delay: 0.3s;
    }

    .plan-card:nth-child(4) {
        transition-delay: 0.4s;
    }

    .means-of-contact-container div:nth-child(1) {
        transition-delay: 0.1s;
    }
    .means-of-contact-container div:nth-child(2) {
        transition-delay: 0.3s;
    }
    .means-of-contact-container div:nth-child(3) {
        transition-delay: 0.5s;
    }

}