.products-section {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 20px;
}

.products-section h2 {
    font-size: 2.5rem;
    margin-top: 90px;
    color: var(--main-color);
}

.products-section p {
    font-size: 1.2rem;
    color: var(--grey-color);
}

.products-section .presentation {
    font-weight: 700;
}

.product-section-cards-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.product-section-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    box-shadow: 0 10px 25px #6111189f;;
    overflow: hidden;
    border-radius: 20px;
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.product-section-card p {
    font-size: 1rem;
}

.product-section-card:hover {
    box-shadow: 0 18px 35px #770912b0;
}

.product-section-card-img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.product-section-card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.product-section-card:hover 
.product-section-card-img-container img {
    transform: scale(1.08);
}

.product-section-card-content {
    margin-top: 20px;
    padding: 4%;
}

.product-section-card-content h4 {
    font-size: 1.5rem;
    color: var(--main-color);
    margin-bottom: 10px;
}

.product-section-card-content-tag-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-section-card-content-tag-container span {
    font-size: x-small;
    font-weight: 700;
    color: #fff;
    background-color: var(--red-color);
    padding: 2%;
    border-radius: 10px;
}


/*When the width of the screen is greater than or equal to 768px (tablet size)*/
@media (min-width: 768px) {

    .products-section h2 {
        font-size: 3rem;
    }

    .products-section .presentation {
        font-size: 1.5rem;
    }

    .product-section-cards-container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .product-section-card-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;
    }

    .product-section-card-content-tag-container {
        margin-top: auto; 
    }
}

/*When the width of the screen is greater than or equal to 1024px (desktop size)*/
@media (min-width: 1024px) {

    .products-section {
        padding-bottom: 10%;
    }

    .products-section h2 {
        margin-top: 180px;
    }

    .product-section-card {
        max-width: 350px;
        height: 550px;
    }

    .product-section-card-img-container {
        height: 270px;
    }

    .product-section-card-content h4 {
        font-size: 1.8rem;
    }

    .product-section-card p {
        font-size: 1.3rem;
    }

    .product-section-card-content-tag-container span {
        font-size: small;
    }

}


/*When the width of the screen is greater than or equal to 1440px (desktop size)*/
@media (min-width: 1440px) {

    .products-section h2 {
        font-size: 4rem;
    }

    .product-section-cards-container {
        gap: 70px 120px;
    }

     .product-section-card {
        max-width: 390px;
    }


}
