.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.about-section h2 {
    font-size: 2.5rem;
    margin-top: 90px;
    margin-bottom: 25px;
    color: var(--main-color);
}

.about-section p {
    font-size: 1.2rem;
    color: var(--grey-color);
}

.about-section .presentation {
    font-weight: 700;
}

.about-section-card {
    text-align: left;
    width: 90%;
    height: 200px;
    border-radius: 20px;
    margin-top: 70px;
    background-color: var(--grey-light-color);
    padding: 4%;
    border: 1px solid transparent;
}

.about-section-card h4 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--main-color);
}

.about-section-card svg {
    margin-top: 10px;
}

.about-section-card:last-of-type {
    margin-bottom: 80px;
}

.about-section-card:hover {
    border: 1px solid var(--main-color);
}


/*When the width of the screen is greater than or equal to 768px (tablet size)*/
@media (min-width: 768px) {

    .about-section h2 {
        font-size: 3rem;
    }

    .about-section-card h4 {
        font-size: 1.5rem;
    }

    .about-section p {
        font-size: 1.5rem;
    }

    .about-section-card svg {
        width: 40px;
        height: 40px;
    }
}

/*When the width of the screen is greater than or equal to 1024px (desktop size)*/
@media (min-width: 1024px) {

    .about-section {
        height: 100vh;
    }

    .about-section-cards-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .about-section-card {
        height: 250px;
    }

    .about-section p {
        font-size: 1.2rem;
    }
}

