.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.about-section h2 {
    font-size: 2.5rem;
    margin-top: 90px;
    margin-bottom: 25px;
    color: var(--main-color);
}

.about-section p {
    color: var(--grey-color);
}

.about-section .presentation {
    font-size: 1.1rem;
    font-weight: 700;
}

.about-section-card {
    text-align: left;
    width: 90%;
    height: 200px;
    border-radius: 20px;
    margin-top: 70px;
    background-color: var(--grey-light-color);
    padding: 4%;
    border: 1px solid transparent;
}

.about-section-card-inner {
    background-color: var(--grey-light-color);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    height: 100%;
}

.about-section-card h4 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--main-color);
}

.about-section-card p {
    font-size: 1rem;
}

.about-section-card svg {
    margin-top: 10px;
}

.about-section-card:last-of-type {
    margin-bottom: 80px;
}

.about-section-card:hover {
    border: 1px solid var(--main-color);
}

.text-about {
    font-size: 1.2rem;
}


/*When the width of the screen is greater than or equal to 768px (tablet size)*/
@media (min-width: 768px) {

    .about-section h2 {
        font-size: 3rem;
    }

    .about-section .presentation {
        font-size: 1.4rem;
    }

    .about-section-card h4 {
        font-size: 1.5rem;
    }

    .about-section-card p {
        font-size: 1.2rem;
    }
    
    .text-about {
        font-size: 1.4rem;
    }

    .about-section-card svg {
        width: 40px;
        height: 40px;
    }
}

/*When the width of the screen is greater than or equal to 1024px (desktop size)*/
@media (min-width: 1024px) {

    .about-section h2 {
        font-size: 4rem;
    }

    .about-section .presentation {
        font-size: 1.3rem;
    }

    .about-section-cards-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .about-section-card {
        height: 250px;
    }

    .about-section-card p {
        font-size: 1.2rem;
    }

    .text-about {
        font-size: 1.2rem;
    }

    .about-section-card:hover {
        box-shadow: 0 10px 25px rgba(146, 12, 12, 0.25);
    }

    .about-section-card:hover .about-section-card-inner {
        transform: translateY(-10px);
    }

    .about-section-card:hover .about-section-card-inner svg {
        transition: all 0.3s ease;
    }

    .about-section-card:hover .about-section-card-inner svg {
        transform: scale(1.2) rotate(5deg);
    }

    .text-about {
        padding: 0 120px;
    }
}

/*When the width of the screen is greater than or equal to 1440px (desktop size)*/
@media (min-width: 1440px) {
    
    .about-section .presentation {
        font-size: 2rem;
    }

    .about-section-card p {
        font-size: 1.4rem;
    }

    .text-about {
        font-size: 1.8rem;
        padding: 0 200px;
    }
}

